.category-label {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--autumn-color);
  color: var(--white-color);

  border: none;
  border-radius: 6px;
  font-size: var(--fontSizeXS);
  display: inline-flex;
  align-items: center;
  font-family: var(--bodyFont);
  text-align: center;
  max-width: 500px;
  min-width: 130px;
  min-height: 45px;
  cursor: pointer;
  z-index: 100;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.categories-grid {
  /* text-align: center; */
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
.grid-type-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-type-4 {
  grid-template-columns: repeat(2, 1fr);
}

.category {
  position: relative;
}

.category img {
  width: 100%;
  height: 20rem;
  border-radius: 6px;
  object-fit: cover;
  object-position: center top;
}

.category-label:hover {
  background-color: var(--bright-color);
}

@media (min-width: 768px) {
  
.category-label {

  padding: 1rem 2rem;
}
}

@media (min-width: 1005px) {
  .grid-type-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .category img {
    height: 30rem;
  }
}

