




.categori {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #f8f8f8;
}

.categori .popular-categories .categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 100%;
}




.category-label {    
    font-size: 2rem;
}


@media (min-width: 1200px) {
    .categori .popular-categories .categories-grid {
        grid-template-columns: repeat(4, 1fr); 
        gap: 5rem;

    }
}


@media (max-width: 1199px) and (min-width: 768px) {
    .categori .popular-categories .categories-grid {
        grid-template-columns: repeat(3, 1fr); 
        
    }
}


@media (max-width: 767px) and (min-width: 480px) {
    .categori .popular-categories .categories-grid {
        grid-template-columns: repeat(2, 1fr);
        
    }
    
}

@media (max-width: 479px) {
    .categori .popular-categories .categories-grid {
        grid-template-columns: 1fr 1fr; 
        
    }

}
