.Dashboard {
  width: 90%; 
  max-width: 130rem; 
  margin: 0 auto;
  padding: 2rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  margin-bottom: 5rem; 
}
.options-list {
  list-style: none;
  padding: 0;
  width: 100%; 
  max-width: 100%; 
  margin: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.options-list li {
  background-color: var(--white-color);
  color: var(--primary-green);
  padding: 1.5rem;
  margin: 1rem 0;
  text-align: left;
  border-bottom: 1px solid var(--primary-lightgreen);
  cursor: pointer;
  margin-bottom: 2rem;
  width: 100%;
  
}

.order-history {
  margin-top: 2rem;
  padding: 1rem;
}


.order-item {
  border: .1rem solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.order-item ul {
  padding-left: 1rem;
}

.order-item li {
  list-style: none;
}

.orders-list{
  margin-top: 2rem;
}


.edit-profile {
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .6rem;
  color: var(--primary-green);
  width: 100%; 
  max-width: 720px;
}

.edit-profile label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  
}

.edit-profile input {
  padding: 0.5rem;
  font-size: 1.4rem;
  border: .1rem solid #ccc;
  border-radius: .4rem;
  
}

.edit-profile button {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #fff;
  background-color: var(--primary-green);
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.edit-profile button:hover {
  background-color: var(--primary-lightgreen);
}


@media (min-width: 768px) {
  .Dashboard {
    width: 80%;
  }
}

@media (min-width: 1005px) {
  .Dashboard {
    width: 70%;
  }
  
}

