.sustainability-page-container {
   
    margin: auto;
    
}

.info-box-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
}
  
.info-box {
    flex: 1 1 20rem; 
    background-color: var(--white-color); 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    text-align: left; 
}
  
.info-box, .certifications-container h3 {
    color: var(--primary-green); 
     
}
  
.info-box p {
    flex-grow: 1; 
    color: #000;
}
  
.info-box img {
    width: 100%; 
    height: auto; 
    padding: 0rem;
    border-radius: 6px; 
    object-fit: cover; 
}


.main-body-spacing {
    margin-bottom: 2rem;
}



.flex-section {
    display: flex;
    flex-direction: column; 
    margin: 2rem 0; 
  }


  .margin{
    margin: 2rem 0;
  }

  .brush-background-2 {
    position: absolute;
  
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22119%22%20height%3D%2225%22%20viewBox%3D%220%200%20119%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_844_549)%22%3E%3Cpath%20d%3D%22M3.31433%2021.6412L10.65%2021.4037C13.4879%2021.9294%206.06939%2022.251%2011.4594%2022.6763L9.91957%2022.663C8.19912%2022.7459%2024.2949%2022.6412%203.94999%2023.5803L3.22758%2023.5879C3.33327%2023.6141%204.76744%2023.6011%202.80978%2023.668L7.31874%2023.4964C9.05842%2023.5602%2012.4296%2023.5955%2012.8292%2023.6965C12.0117%2023.7289%2010.5339%2023.7467%209.37877%2023.7623L10.3655%2024.0087L5.65667%2024.1298C8.10723%2024.1839%2017.9289%2024.064%2012.2912%2024.3254C19.1566%2024.1836%2016.2816%2024.3928%2019.7561%2024.3352C18.9021%2024.3531%2017.6287%2024.3895%2016.454%2024.4181C17.1361%2024.5387%2018.8408%2024.7562%2022.2778%2024.7864C22.2778%2024.7864%2037.008%2024.1659%2044.3853%2023.9682C42.3874%2024.1634%2045.1734%2024.0087%2047.49%2023.954L45.8089%2023.9575C47.5551%2023.8381%2051.8461%2023.7972%2053.0805%2023.7337C52.7357%2023.7362%2052.3136%2023.7419%2051.8916%2023.7476L52.4602%2023.7506C51.6943%2023.763%2051.1816%2023.7614%2050.7586%2023.7629C49.8362%2023.7732%2049.1236%2023.7744%2049.4062%2023.7407L49.8523%2023.7432C49.265%2023.7043%2050.0054%2023.622%2050.3325%2023.5877L53.9126%2023.5564C47.1586%2023.537%2064.766%2022.9329%2065.0888%2022.8242C69.6919%2022.6769%2064.1731%2022.5982%2066.5468%2022.4426C67.882%2022.2203%2071.8617%2022.2899%2075.0422%2022.1575C77.4052%2022.0043%2070.8453%2022.2228%2070.6455%2022.1723L75.7605%2021.969C76.1131%2022.0579%2078.3151%2021.9877%2079.7129%2021.9603C80.441%2021.8185%2087.1893%2021.5421%2080.0763%2021.5637C83.6515%2021.3473%2086.5198%2021.3213%2086.9376%2021.2411C85.6091%2021.2804%2084.3854%2021.3416%2082.9406%2021.3569C86.161%2021.2559%2082.1889%2021.3308%2081.4611%2021.3662C78.4473%2021.2814%2094.9937%2020.6639%2087.1618%2020.7102L88.596%2020.6972C82.7758%2020.7226%2077.0585%2020.8148%2073.8962%2020.766L76.5541%2020.6918L74.1142%2020.6354C76.0603%2020.5665%2077.5886%2020.5778%2078.311%2020.5701C75.7166%2020.4668%2079.0927%2020.2573%2080.0163%2020.0915L63.9405%2020.4003C67.7378%2020.2341%2075.405%2019.9304%2070.2966%2019.9504L75.7171%2019.824C86.1692%2019.4677%2071.4318%2019.6775%2074.6016%2019.5474L80.5448%2019.3628L80.3277%2019.4977C83.4025%2019.3391%2085.3486%2019.2702%2089.2399%2019.1282C89.184%2019.1268%2089.1395%2019.1274%2089.0844%2019.1303C88.841%2019.1379%2088.553%2019.146%2088.2083%2019.1485L88.0821%2019.1311C85.188%2019.1404%2083.2511%2019.0921%2083.5205%2018.9948C84.4493%2018.8545%2080.2368%2018.7901%2086.5968%2018.5211L80.6719%2018.5245L84.3634%2018.332L89.1111%2018.2913C88.6985%2018.4501%2090.2591%2018.7249%2090.3227%2018.9241L92.4917%2018.9097C92.5897%2018.7913%2090.5942%2018.6757%2091.1337%2018.5917C92.1157%2018.5465%2097.132%2018.4043%20100.281%2018.4426L95.6969%2018.413C95.504%2018.0197%2095.2703%2018.0207%20101.001%2017.5622L98.5847%2017.6204C97.2555%2017.549%2095.9601%2017.4792%2099.8362%2017.4247C100.83%2017.1686%20104.036%2016.889%20110.195%2016.6717L104.629%2016.6873C104.985%2016.6335%20113.507%2016.4758%20105.687%2016.524L103.307%2016.437C103.793%2016.3602%20100.637%2016.3453%20103.923%2016.2349C103.933%2016.2327%20103.933%2016.2327%20103.933%2016.2327C104.132%2016.2257%20104.354%2016.2185%20104.609%2016.2129C104.442%2016.213%20104.286%2016.2151%20104.142%2016.2192C106.755%2016.0349%2099.1278%2016.2636%20102.503%2016.0498C106.527%2015.955%2095.4522%2016.0493%2096.8013%2015.948L104.899%2015.7875C109.646%2015.5829%20101.614%2015.6276%20101.798%2015.3888C104.755%2015.2509%20111.647%2015.1343%20117.667%2015.1552C110.396%2015.1172%20112.909%2015.1492%20109.501%2015.042C112.543%2014.9924%20113.18%2015.003%20115.865%2015.0071C119.509%2014.8557%20113.192%2014.9559%20113.451%2014.8609C107.776%2014.8865%2098.7299%2014.9343%2098.3798%2014.9113L96.575%2014.9634C93.6091%2014.8949%2092.2862%2014.8%2095.2419%2014.6579L98.1005%2014.6384L96.7528%2014.531L100.42%2014.49L99.4287%2014.3288L98.4219%2014.3616C97.9688%2014.3251%2096.8192%2014.2066%2098.8045%2014.1116L100.839%2014.0948C107.377%2013.8234%2099.2025%2013.721%2098.7401%2013.4782L102.872%2013.4755C107.079%2013.3506%2096.4963%2013.5085%2098.6434%2013.3879L103.756%2013.3359C97.1223%2013.3042%20105.278%2013.2068%20107.867%2013.1249L101.147%2013.2136L102.657%2013.0825C104.987%2012.9318%20111.179%2012.929%20114.663%2012.9139L109.464%2012.8735L115.386%2012.8041C108.569%2012.8025%20116.541%2012.731%20112.949%2012.6539C115.193%2012.6236%20116.444%2012.6408%20117.437%2012.5933L109.26%2012.4824L112.852%2012.5595L104.232%2012.6227C97.7823%2012.5652%20105.301%2012.4572%20102.971%2012.395L105.485%2012.4313C103.501%2012.3176%20107.179%2012.2743%20109.153%2012.1816C107.535%2012.2205%20105.119%2012.2787%20104.029%2012.2317C103.587%2012.1972%20107.082%2012.184%20108.064%2012.1388C102.326%2012.1823%2099.3596%2012.1139%20102.143%2011.9996C102.966%2011.9928%20103.745%2011.9907%20104.268%2011.9901C103.352%2011.9769%20101.883%2011.9797%20103.297%2011.9265L109.673%2011.8936L103.654%2011.8728C105.444%2011.806%20100.871%2011.7742%20105.175%2011.7437L106.426%2011.7608L108.293%2011.3631L113.407%2011.3152C106.406%2011.3396%20116.255%2011.0852%20107.464%2011.1763C112.307%2011.0619%20104.315%2010.9251%20114.185%2010.879C115.157%2010.6232%20105.746%2010.5758%20110.82%2010.2263C119.314%2010.0434%20116.841%209.7724%20117.901%209.56862C114.71%209.22008%20111.748%209.00469%20109.388%208.63852C121.314%208.30067%20105.844%208.09041%20112.686%207.78082L108.08%207.75579C115.64%207.52378%20106.782%207.34974%20114.216%207.04706C112.225%207.0101%20111.607%206.98227%20111.449%206.97164C111.218%206.9854%20110.32%207.00817%20107.353%207.04189C109.485%206.9556%20107%206.84231%20112.906%206.79869L113.498%206.80984C119.404%206.76621%20110.91%206.62982%20116.087%206.51089L109.725%206.60752L110.9%206.47244L112.085%206.49474C98.4972%206.06959%20118.792%205.64205%20106.389%205.2392C113.241%205.24664%20102.844%205.17004%20110.403%205.09343C120.015%204.87625%20108.552%204.87152%20106.118%204.78735C105.751%204.79018%20105.317%204.79391%20104.738%204.79322L105.8%204.59794C115.251%204.62347%2098.001%204.53517%20106.027%204.56294C113.576%204.0139%20106.841%203.44079%20110.617%202.84909L108.143%202.89743C108.736%202.74892%20105.909%202.59769%20109.923%202.45617C113.925%202.31267%20103.893%202.27371%20103.539%202.23379C99.4118%202.15121%20107.906%201.96829%20107.439%202.02357C106.379%201.90805%2097.7597%201.86489%20101.648%201.65694C109.796%201.52128%2094.1116%201.2458%20103.238%201.15864L102.471%201.16263C109.084%200.879552%2098.3333%200.763022%20104.354%200.468792C104.354%200.468792%20105.022%200.468273%20105.624%200.468658L78.3719%200.219664L47.7935%200.635055L22.6998%201.2871L27.0745%202.40298L16.6148%203.42133L17.9687%205.65511L24.7056%205.75351C12.3116%206.3063%2025.6481%206.754%2016.6732%207.30528L22.5787%207.26165C22.8175%207.39253%2019.1583%207.41856%2018.0973%207.45845C18.3541%208.69809%2025.1349%209.92194%2016.7176%2011.1213C12.7151%2011.2648%2014.7395%2011.5738%2010.5328%2011.6987C17.4568%2012.0011%2017.0579%2012.3875%2015.9997%2012.7636L15.3626%2012.7531L16.3539%2012.9143C15.8661%2012.9251%2015.1552%2012.9347%2014.7091%2012.9322C19.7852%2013.0786%2014.3455%2013.4352%2012.0045%2013.6946L11.3683%2013.6883C9.10834%2015.0918%2019.0578%2016.2878%209.63498%2017.7412C-0.561127%2018.4729%2012.1325%2019.0975%203.46728%2019.9064C-2.53096%2020.0939%200.621274%2021.5456%203.2832%2021.6522L3.31433%2021.6412Z%22%20fill%3D%22%23CC7F3A%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_844_549%22%3E%3Crect%20width%3D%22119%22%20height%3D%2225%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: rotate(-5deg) scale(2);
  
    color: white;
    top: 20%;
    width: 80%;
    height: 10rem;
  }



  .certifications-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 2rem 0; 
  }
  
  .certification-item {
    flex: 1 1 45%; 
    margin: 1rem; 
    display: flex;
    flex-direction: column;
  }
  
  .certification-item img{
    flex: 1 1 200px; 
    margin: 1rem; 
    display: flex;
    flex-direction: column;
  }
  

  .certification-item-2{
    flex: 1 ; 
    margin: 1rem; 
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    
   
  }

  .certification-item-2 img{
    flex: 1; 
    margin: 1rem; 
   
   
  }







  

  
  
  @media (min-width: 768px) {
    .flex-section {
      flex-direction: row;
      justify-content: space-between; 
    }
    
    .flex{
      flex: 1; 
      margin: 0 1rem; 
    }

    .brush-background-2 {
       
        transform: rotate(-5deg) scale(2);
      
        color: white;
        top: 25%;
        right: 0%;
        width: 100%;
        height: 8rem;
      }
    
  }