.faq-section {
    padding: 2rem 0rem;
    background-color: #f9f9f9; 
    cursor: pointer;
   
  }

  .faq-item h2,  
  .faq-item p
  {   
      text-align: left; 
  }
  
  .faq-item h2{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .section-heading {
   
    color: var(--primary-green); 
  
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 1.5rem 0; 
  }
  .faq-item h2::after {
    content: '▸'; /* A simple right arrow */
    display: inline-block;
    margin-left: 0.3rem; /* Reduce the margin for a cleaner look */
    font-size: 2rem; /* Make the icon smaller */
    transition: transform 0.3s ease;
  }
  
  .faq-item h2.active::after {
    transform: rotate(90deg); /* Rotates the arrow to point downwards when active */
  }
  

  


.terms-page{
 max-width: 1150px;
 margin: auto;
 width: 90%;
 margin-top: 15rem;
 
}


  