.nav {
  width: 90%;
  margin-inline: auto;
}
.nav li {
  max-width: 100%;
  width: 100%;
}
.categories {
  display: grid;
}
.nav-link {
  display: block;
  padding-block: 1rem;
  border-bottom: 1px solid var(--bright-color);
  text-transform: uppercase;
}
.desktop {
  display: none;
}
.header-icon {
  width: 2rem;
  height: auto;
}

.nav-heading {
  margin: 3rem 0;
  text-align: left;
}

.cart-quantity-badge {
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  aspect-ratio: 1/1;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.3rem 0.6rem;
}
@media (min-width: 1005px) {
  .nav {
    width: 100%;
  }

  .categories {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .nav li {
    width: auto;
  }
  .desktop {
    gap: 2rem;
  }
  .desktop .nav-link {
    padding-block: 0;
    border-color: transparent;
  }

  .desktop .nav-link:hover {
    border-color: var(--primary-green);
  }

  .desktop li .nav-link {
    transition: margin-bottom 0.3s ease, border-bottom 0.3s ease;
  }
}
