.container {
  width: 90%;
}


.title{
  color: var(--primary-green);
  font-size: var(--fontSizeLG);
  font-weight: 500;
}

.product-gallery {
  overflow: hidden;
}

.main-image {
  overflow: hidden;
  border-radius: 6px;
}
.main-image img,
.thumbnail-image img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
}


.carousel-container {
  position: relative;
  overflow: hidden; 
  margin: 1rem 0;
}

.thumbnail-images {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden; 
  gap: 1rem;
  scroll-behavior: smooth; 
  padding-bottom: 1rem;
}

.thumbnail-image {
  width: 10rem;
  height: auto;
  flex-shrink: 0; 
  cursor: pointer;
  transition: transform 500ms ease; 
}

.thumbnail-image img {
  width: 100%; 
  height: auto;
  border-radius: 6px; 
}

.thumbnail-image:hover {
  transform: scale(1.1);
}

.carousel-arrow {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  border: none;
  
  font-size: 2rem;
 
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2; 
  border-radius: 50%; 
}

.carousel-arrow.left {
  left: 1rem; 
  color: black;
}

.carousel-arrow.right {
  right: 1rem; 
  color: black;
}


.thumbnail-images::-webkit-scrollbar {
  height: 8px; 
}

.thumbnail-images::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px; 
}

.thumbnail-images::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
}

.thumbnail-images::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




























.brand-name {
  font-size: var(--fontSizeXS);
  font-family: var(--subHeadingFont);
}

.heading-1 {
  font-size: var(--fontSizeLG);
  font-family: var(--headingFont);
}

.product-description {
  font-size: var(--fontSizeXS);
  font-family: var(--bodyFont);
  margin-top: 1rem;
}

.certificate-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.certificate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certificate-item img {
  max-width: 10rem;
  height: auto;
  margin: 1.5rem 0;
}

.subheading-1 {
  margin: 1rem 0;
  font-size: var(--fontSizeMD);
}

.color-circle-main input[type="radio"] {
  display: none;
}

.color-circle {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s;
}



input[type="radio"]:checked + .color-circle {
  border: 2px solid #fff;
  transform: scale(1.05);
  outline: 2px solid var(--primary-green);
}

.size-container {
  margin: 2rem 0;
}

.size-container fieldset {
  border: none;
  padding: 0;
}

.size-container legend {
  margin-bottom: 1.6rem;
  color: var(--primary-dark);
}

.size-container .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.size-item {
  display: flex;
  align-items: center;
}

.increment-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.increment-input label {
  min-width: 3rem;
  text-align: center;
  font-size: var(--fontSizeXS);
  margin-right: 1rem;
}

.increment-number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  background-color: var(--bright-color);
}

.input-number {
  background-color: var(--bright-color);
  text-align: center;
  width: 100%;
  border: none;
}

.increment-button {
  display: none;
}

.min-text p {
  margin: 0;
  font-size: var(--fontSizeXSS);
}

.toggle-arrow {
  font-size: 1rem;
  color: #333;
  transition: transform 0.3s ease;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.product-collapse td {
  padding: 1rem;
  max-width: 55ch;
}

.remove-btn-2 {
  margin-left: 2rem;
  color: #d9534f;
}
.remove-btn-2:focus{
  outline: 2px solid var(--primary-dark); 
}

.tabs {
  display: flex;
  border-bottom: 2px solid var(--primary-dark);
  margin: 1.5rem 0;
}

.tab {
  flex: 1;
  padding: 1rem;
  background: transparent;
  border: none;
  font-size: var(--fontSizeMD);
  font-family: var(--subHeadingFont);
  color: var(--primary-lightgreen);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.tab.active {
  border-bottom: 2px solid var(--primary-dark);
}

.tab:hover {
  background-color: var(--light-gray);
}

.tab-content {
  padding: 1.5rem;

  border-radius: 6px;
  margin-top: -1px;
  background-color: var(--bright-color);
  margin-bottom: 5rem;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
}

.tab-content th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}

.tab-content th {
  font-weight: 600;
  background-color: var(--light-gray);
}

.tab-content td ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.spacing {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1005px) {
  .container {
    width: 70%;
    margin: auto;
    line-height: 1.2;
  }

  .size-container .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .size-container .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  .product-info {
    display: block;
    overflow: hidden;
  }
  .product-grid > * {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 60%;
  }
}
