.resell-page {
    width: 90%;
    justify-content: center; 
    margin: auto;
    max-width: 1300px; 
    margin-bottom: 5rem;
    
}

.resell-page-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.resell-container {
    text-align: left; 
    margin: 5rem 0; 
}

.resell-text-container{
    margin: 1rem 0;
}

.resell-image-container {
    width: 50rem;
    height: 50rem; 
    overflow: hidden; 
    border-radius: 50%; 
    margin: 0 auto; 
    position: relative; 
    
}

.resell-heading{
    margin: 2rem 0;
    width: 100%;
}



.resell-image {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 50%; 
   
}





@media (min-width: 1005px) {
    .resell-page-container {
        flex-direction: row;
        justify-content: space-between; 
        gap: 3rem;
    }

    .label-with-bg{
        height:40%;
        bottom: -10%;
    }

    .resell-page {
        width: 80%;
        height: 100vh;
    }

    .resell-image-container {
        width: 40rem; 
        height: 40rem; 
    }

    /* .label-with-bg {
        
        width: 30rem;
       
        
      } */

    
}




