.container {
  width: 90%;
  max-width: 1300px;
}

.service-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-detail {
  height: 100vh;
}

.service-name {
  font-size: var(--fontSizeLG);
  font-family: var(--headingFont);
  margin: 1.5rem 0;
}

.service-description {
  font-size: var(--fontSizeXS);
  font-family: var(--bodyFont);
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.service-info h2 {
  text-align: left;
  margin: 2rem 0;
}
.service-gallery {
  width: 100%;
}

.main-image-2 img {
  border-radius: 6px;
}
.thumbnail-carousel-2 {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.thumbnail-image-2 {
  width: 18rem;
  height: auto;
  cursor: pointer;
  margin: 1rem 0;
  transition: transform 0.3s;
  border-radius: 6px;
}

.heading-margin {
  margin-top: 15rem;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1005px) {
  .container {
  
    margin: auto;
    line-height: 1.2;
  }

  .thumbnail-carousel-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .main-image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .service-info {
    grid-area: 1 / 2 / 2 / 3;
  }
}
